

$yellow: #f7ca3e;
$white: #ffffff;
$aliceBlue: #f0f8ff;
$graphColor: #333333;
$someBlack: rgba(0, 0, 0, 0.2);
$lessBlack: rgba(0, 0, 0, 0.1);
$black: #000000;

// some property variable

$boxShadow: 0 0.3rem 2rem $someBlack;
$linearTransition: all 0.4s linear;
$easeTransition: all 0.4s ease;

